body {
     display: flex;
     justify-content: center;
     height: 370px;
}

#divgrande {
    width: 700px;
    display: flex;
    overflow: hidden;
    box-shadow: 0 4px 8px black;
}
#parteazul {
    background-color: darkgreen;
    color: white;
    padding: 20px;
    width: 220px;
}
 #formu {
    padding: 20px;
    
} 
/* #divform {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
} */
 button {
    background-color: darkgreen;
    color: white;
    width: 390px;
 }
 button:hover {
    background-color: lawngreen;
    color: white;
 }